<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1>{{localize 'riptsLang.items.information.name'}}: <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
        <p>{{localize 'riptsLang.items.information.description'}}:</p>
    </header>
    <div>
        <table>
            <tr>
                <th></th>
                <th></th></tr>
            <tr>
                <th>{{localize 'riptsLang.items.weapons.range'}}</th>
                <th>
                    <select name="data.range">
                        {{#select data.range}}
                        {{#each config.rangeTags as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </th>
            </tr>
        </table>
    </div>
</form>

